#profileNav {
    background-color: #fff;
    position: relative;
    border-bottom: 1px solid #e1e1e1;

    .nav-logo {
        width: 70px;
        height: 50px;
        margin-right: 50px;
    }

    .navbar-collapse {
        position: absolute;
        right: 120px;

    }

    .nav-link {
        color: #2D3079;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 10px;
        font-size: 1rem;
        font-weight: 500;
        padding-bottom: 0;
    }

    .active-nav-link {
        border-bottom: 2px solid #2D3079;
    }

    .nav-dropdown {
        margin: 0;
    }

    .profile-icon {
        font-size: 1.5rem;
    }

    .name {
        font-size: 1rem;
        font-weight: 500;
        margin: auto 0 auto 10px;
    }

    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        height: inherit;
    }
}